.formInput {
  width: 250px;
  margin: 10px;
}

.submitButtonForm {
  margin-top: 50px;
}

/* .MuiDialog-paper {
 
} */

.selectInput {
  width: 250px;
}

.medicationOption {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  padding: 10px;
  margin: 10px;
}
.medicationButtonsDiv {
  display: inline-flexbox;
}

.medicationButtonsDiv .newButton {
  float: left;
  margin-left: 100px;
  margin-bottom: 30px;
}

.medicationButtonsDiv .saveButton {
  float: right;
  margin-right: 100px;
  margin-bottom: 30px;
}

#addMedicationPlanDialog .MuiDialog-paper {
  min-height: 450px;
  width: 450px;
  text-align: center;
}

.startDateInput {
  width: 250px;
  margin: 15px;
}

.endDateInput {
  width: 250px;
}

.MuiDialogTitle-root {
  text-align: center;
}

.newPatient {
  width: 450px;
  height: 550px;
  text-align: center;
}

.newCaregiver {
  width: 450px;
  height: 470px;
  text-align: center;
}

.newMedication {
  width: 450px;
  height: 350px;
  text-align: center;
}
