.editPatient {
  width: 450px;
  height: 350px;
  text-align: center;
}

.editMedication {
  width: 450px;
  height: 350px;
  text-align: center;
}

.editCaregiver {
  width: 450px;
  height: 350px;
  text-align: center;
}
